@{
    ViewData["Title"] = "Homepage";
}

<link rel="stylesheet" href="~/css/customStyle.css">

<div class="text-center">
    <h1 class="display-4">Password Manager</h1>
    <p class="body-text">This ASP.NET web app will allow you to store encrypted password locally and generate new ones.</p>
    <p class="body-text"> To use the app, sign in into your Azure AD using a group authorized account.</p>
</div>
