<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Password Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"  />
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav id="site-menu" class="navbar bg-gradient-navbar navbar-expand-sm navbar-dark">
            <a id="site-logo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Password Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-custom">
                    <li class="nav-item li-custom">
                        <a class="nav-link a-custom" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item li-custom">
                        <a class="nav-link a-custom" asp-area="" asp-controller="Password" asp-action="List">Your passwords</a>
                    </li>
                    <li class="nav-item li-custom">
                        <a class="nav-link a-custom" asp-area="" asp-controller="Password" asp-action="Generator">Generator</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @await RenderSectionAsync("scripts", required: false)
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Password Manager - <a href="https://github.com/fpasqu/password-manager-aspnet">GitHub</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
